{
    "openapi": "3.0.1",
    "info": {
        "title": "API de Pedidos",
        "description": "API para gestão dos pedidos das lojas virtuais B2B da plataforma Fast Channel.",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.commerce.fastchannel.com/order-management/v1"
        }
    ],
    "paths": {
        "/orders": {
            "get": {
                "tags": [
                    "Sincronização de Pedidos"
                ],
                "summary": "ListOrders",
                "description": "Retorna a lista (array) de pedidos existentes na sua Conta Fastchannel. Por padrão, apenas os pedidos que tenham sido gerados nas últimas 24 horas serão retornados. Para modificar a listagem retornada, combine os diversos parâmetros de filtro da operação.",
                "operationId": "listorders",
                "parameters": [
                    {
                        "name": "IsSynched",
                        "in": "query",
                        "description": "Situação de sincronização atual dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "false",
                                "true"
                            ],
                            "type": "Boolean",
                            "default": "false"
                        }
                    },
                    {
                        "name": "CreatedAfter",
                        "in": "query",
                        "description": "Data/Hora mínima de abertura/criação dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "2016-01-31T01:29:35.000"
                            ],
                            "type": "Datetime",
                            "default": "2016-01-31T01:29:35.000"
                        }
                    },
                    {
                        "name": "CurrentStatusIds",
                        "in": "query",
                        "description": "Lista de identificadores dos status em que devem estar os pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "200,201"
                            ],
                            "type": "Array[number]"
                        }
                    },
                    {
                        "name": "OrderIds",
                        "in": "query",
                        "description": "Lista de identificadores únicos dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "1234,5678,9012"
                            ],
                            "type": "Array[number]"
                        }
                    },
                    {
                        "name": "OrderCodes",
                        "in": "query",
                        "description": "Lista de identificadores únicos dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "XYZ123,XYZ567,XYZ890"
                            ],
                            "type": "Array[string]"
                        }
                    },
                    {
                        "name": "CustomerIds",
                        "in": "query",
                        "description": "\nLista de identificadores únicos de clientes para ser utilizada como filtro dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "1,2,3,4"
                            ],
                            "type": "Array[number]"
                        }
                    },
                    {
                        "name": "StorageIds",
                        "in": "query",
                        "description": "Lista de identificadores únicos de CD's (Lojas/Depósitos/Filiais) para ser utilizada como filtro dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "1,2,3,4"
                            ],
                            "type": "Array[number]",
                            "default": "1,2,3,4"
                        }
                    },
                    {
                        "name": "ResellerIds",
                        "in": "query",
                        "description": "Lista de identificadores únicos de revendas para ser utilizada como filtro dos pedidos que deverão ser retornados.",
                        "schema": {
                            "enum": [
                                "1,2,3,4"
                            ],
                            "type": "Array[number]"
                        }
                    },
                    {
                        "name": "IgnoreCreationDate",
                        "in": "query",
                        "description": "Permite que a data de abertura/criação possa ser ignorada durante a execução dos filtros dos pedidos que deverão ser retornados (só é considerado quando utilizado em conjunto com um dos seguintes parâmetros: 'CurrentStatusIds', 'OrderIds', 'OrderCodes', 'CustomerIds', 'StorageIds' ou 'ResellerIds').",
                        "schema": {
                            "enum": [
                                "false",
                                "true"
                            ],
                            "type": "Boolean",
                            "default": "false"
                        }
                    },
                    {
                        "name": "PageNumber",
                        "in": "query",
                        "description": "Permite a aplicação de paginação nos resultados que deverão ser retornados, definindo o número da página de resultados desejada (deve ser utilizado em conjunto com o parâmetro 'PageSize').",
                        "schema": {
                            "enum": [
                                "0",
                                "1"
                            ],
                            "type": "Number",
                            "default": "0"
                        }
                    },
                    {
                        "name": "PageSize",
                        "in": "query",
                        "description": "Permite a aplicação de paginação nos resultados que deverão ser retornados, definindo o limite máximo de registros por página a serem retornados (deve ser utilizado em conjunto com o parâmetro 'PageNumber').",
                        "schema": {
                            "enum": [
                                "0",
                                "10"
                            ],
                            "type": "Number",
                            "default": "0"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resposta de sucesso da listagem de pedidos, porém com alguns pedidos encontrados para os filtros informados.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Listagem_de_Pedidos_-_Com_Conte_do"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "TotalRecords": 6,
                                    "TotalPages": 1,
                                    "RequestParams": {
                                        "CreatedAfter": "/Date(1585507119990)/",
                                        "ResellerIds": [
                                            1
                                        ]
                                    },
                                    "Payload": [
                                        {
                                            "OrderId": 483,
                                            "OrderCode": "S863816913",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600922405460)/",
                                            "CurrentStatusId": 200,
                                            "CurrentStatusDescription": "Pedido aguardando confirmação de pagamento",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 286,
                                            "CustomerName": "Karl Heinz Brehme",
                                            "CustomerDocument": "19008627000117",
                                            "CustomerType": "J",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (à vista)",
                                            "OrderTotal": 330.3
                                        },
                                        {
                                            "OrderId": 481,
                                            "OrderCode": "S571805521",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600461872177)/",
                                            "CurrentStatusId": 200,
                                            "CurrentStatusDescription": "Pedido aguardando confirmação de pagamento",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 285,
                                            "CustomerName": "ANDERSON SILVA DE MIRANDA",
                                            "CustomerDocument": "42353346111",
                                            "CustomerType": "F",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (7x c/ juros)",
                                            "OrderTotal": 137.55
                                        },
                                        {
                                            "OrderId": 480,
                                            "OrderCode": "S786053650",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600459299560)/",
                                            "CurrentStatusId": 200,
                                            "CurrentStatusDescription": "Pedido aguardando confirmação de pagamento",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 285,
                                            "CustomerName": "ANDERSON SILVA DE MIRANDA",
                                            "CustomerDocument": "42353346111",
                                            "CustomerType": "F",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (6x c/ juros)",
                                            "OrderTotal": 135.66
                                        },
                                        {
                                            "OrderId": 479,
                                            "OrderCode": "S854474129",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600458441190)/",
                                            "CurrentStatusId": 100,
                                            "CurrentStatusDescription": "Pedido recebido, em análise",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 285,
                                            "CustomerName": "ANDERSON SILVA DE MIRANDA",
                                            "CustomerDocument": "42353346111",
                                            "CustomerType": "F",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (6x c/ juros)",
                                            "OrderTotal": 135.66
                                        },
                                        {
                                            "OrderId": 477,
                                            "OrderCode": "S287583107",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600458318200)/",
                                            "CurrentStatusId": 100,
                                            "CurrentStatusDescription": "Pedido recebido, em análise",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 285,
                                            "CustomerName": "ANDERSON SILVA DE MIRANDA",
                                            "CustomerDocument": "42353346111",
                                            "CustomerType": "F",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (6x c/ juros)",
                                            "OrderTotal": 135.66
                                        },
                                        {
                                            "OrderId": 476,
                                            "OrderCode": "S394339416",
                                            "IsSynched": false,
                                            "CreatedAt": "/Date(1600458226187)/",
                                            "CurrentStatusId": 100,
                                            "CurrentStatusDescription": "Pedido recebido, em análise",
                                            "CurrentStatusTypeId": 5,
                                            "CurrentStatusTypeDescription": "Pedido Recebido",
                                            "CustomerId": 285,
                                            "CustomerName": "ANDERSON SILVA DE MIRANDA",
                                            "CustomerDocument": "42353346111",
                                            "CustomerType": "F",
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "StorageCityId": "3550308",
                                            "StorageCityName": "São Paulo",
                                            "StorageStateId": "SP",
                                            "ResellerId": 1,
                                            "ResellerName": "Confecção Teste A",
                                            "PaymentOption": "VISA (6x c/ juros)",
                                            "OrderTotal": 135.66
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{OrderId}": {
            "get": {
                "tags": [
                    "Sincronização de Pedidos"
                ],
                "summary": "GetOrderDetails",
                "description": "Retorna as informações detalhadas de um determinado pedido da Loja Virtual.",
                "operationId": "getorderdetails",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "string",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informações detalhadas de todos os aspectos de um determinado pedido da loja virtual.",
                        "content": {
                            "application/json": {
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 476,
                                        "IncludeItemDetails": true,
                                        "IncludeCustomerData": true,
                                        "IncludeWithdrawalData": true,
                                        "IncludeStatusHistory": true,
                                        "IncludePaymentHistory": true,
                                        "IncludeTrackingData": true,
                                        "IncludeRiskAnalysisHistory": true,
                                        "IncludeInvoiceData": true,
                                        "IncludeDiscountCoupon": true,
                                        "IncludeAuditingHistory": true,
                                        "IncludeDistributionCenterData": true
                                    },
                                    "Payload": {
                                        "OrderId": 476,
                                        "OrderType": "Standard",
                                        "OrderCode": "S394339416",
                                        "CreatedAt": "/Date(1600458226187)/",
                                        "IsSynched": false,
                                        "SalesUserId": 0,
                                        "ResellerId": 1,
                                        "SourceIpAddress": "::1",
                                        "BuyerRemarks": "",
                                        "HasScheduledWithdrawal": false,
                                        "TotalDeliveryDays": 6,
                                        "DeliveryDateLimit": "/Date(1600976626187)/",
                                        "ShippingMethodId": 2,
                                        "ShippingMethodName": "Sedex",
                                        "ShippingDiscountId": 0,
                                        "ShippingDiscountName": "",
                                        "ShippingDiscountType": 0,
                                        "ShippingDiscountAmount": 0,
                                        "ProductCost": 10000,
                                        "ProductDiscount": 0,
                                        "ProductDiscountQuota": 0,
                                        "ProductDiscountCoupon": 0,
                                        "ProductDiscountManual": 0,
                                        "ProductDiscountPayment": 0,
                                        "ProductDiscountAssociation": 0,
                                        "ShippingCost": 2250,
                                        "ShippingDiscount": 0,
                                        "ShippingDiscountCoupon": 0,
                                        "ShippingDiscountManual": 0,
                                        "PaymentInstallmentCost": 1316,
                                        "SubtotalProducts": 10000,
                                        "SubtotalShipping": 2250,
                                        "IpiBaseValue": 0,
                                        "IpiTotalCost": 0,
                                        "IcmsBaseValue": 0,
                                        "IcmsTotalCost": 0,
                                        "IcmsStBaseValue": 0,
                                        "IcmsStTotalCost": 0,
                                        "TotalOrderValue": 13566,
                                        "CurrentStatus": {
                                            "OrderId": 476,
                                            "OrderStatusId": 100,
                                            "OrderStatusHistoryId": 2518,
                                            "Removed": false,
                                            "CreatedAt": "/Date(1600458226887)/",
                                            "ResponsibleUserId": 1,
                                            "ResponsibleUserName": "Sistema (WebStore)",
                                            "OrderStatusName": "Pendente",
                                            "OrderStatusDescription": "Pedido recebido, em análise",
                                            "IsActive": true,
                                            "Priority": 1,
                                            "PreviousOrderStatusIds": "",
                                            "ManagerStatusTypeId": 1,
                                            "ManagerStatusTypeName": "Pendente",
                                            "ManagerStatusTypePriority": 1,
                                            "CustomerStatusTypeId": 5,
                                            "CustomerStatusTypeName": "Pedido Recebido",
                                            "CustomerStatusTypePriority": 1,
                                            "IsRemovable": false,
                                            "PossibleNextStatuses": [
                                                {
                                                    "OrderStatusId": 101,
                                                    "OrderStatusName": "Pendente",
                                                    "OrderStatusDescription": "Pedido pendente, aguardando documentos",
                                                    "ManagerStatusTypeId": 1,
                                                    "CustomerStatusTypeId": 5,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100"
                                                },
                                                {
                                                    "OrderStatusId": 102,
                                                    "OrderStatusName": "Pendente (aprovado pela análise de risco)",
                                                    "OrderStatusDescription": "Pedido pendente, aguardando confirmação de pagamento",
                                                    "ManagerStatusTypeId": 1,
                                                    "CustomerStatusTypeId": 5,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101"
                                                },
                                                {
                                                    "OrderStatusId": 200,
                                                    "OrderStatusName": "Pendente (Aguardando confirmação de pagamento)",
                                                    "OrderStatusDescription": "Pedido aguardando confirmação de pagamento",
                                                    "ManagerStatusTypeId": 1,
                                                    "CustomerStatusTypeId": 5,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101"
                                                },
                                                {
                                                    "OrderStatusId": 401,
                                                    "OrderStatusName": "Cancelado",
                                                    "OrderStatusDescription": "Pedido cancelado pela operadora de cartão de crédito",
                                                    "ManagerStatusTypeId": 2,
                                                    "CustomerStatusTypeId": 2,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101,200"
                                                },
                                                {
                                                    "OrderStatusId": 402,
                                                    "OrderStatusName": "Cancelado",
                                                    "OrderStatusDescription": "Pedido cancelado por análise",
                                                    "ManagerStatusTypeId": 2,
                                                    "CustomerStatusTypeId": 2,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101,200"
                                                },
                                                {
                                                    "OrderStatusId": 403,
                                                    "OrderStatusName": "Cancelado",
                                                    "OrderStatusDescription": "Pedido cancelado pelo cliente",
                                                    "ManagerStatusTypeId": 2,
                                                    "CustomerStatusTypeId": 2,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101,102,200,201,300,303"
                                                },
                                                {
                                                    "OrderStatusId": 404,
                                                    "OrderStatusName": "Cancelado",
                                                    "OrderStatusDescription": "Pedido cancelado por motivos diversos",
                                                    "ManagerStatusTypeId": 2,
                                                    "CustomerStatusTypeId": 2,
                                                    "IsActive": true,
                                                    "Priority": 1,
                                                    "PreviousStatusIds": "100,101,102,200,201,300,303"
                                                }
                                            ]
                                        },
                                        "Customer": {
                                            "OrderId": 476,
                                            "CustomerId": 285,
                                            "CustomerTypeFlag": "F",
                                            "CustomerTypeName": "Pessoa Física",
                                            "CurrentProfileId": 1,
                                            "CurrentStatusId": 2,
                                            "CurrentStatusDescription": "Cadastro Aprovado",
                                            "EmailAddress": "anderson@fastchannel.com",
                                            "FullName": "ANDERSON SILVA DE MIRANDA",
                                            "PersonFederalRegistry": "09342771769",
                                            "PersonDocument": "550540623",
                                            "CreatedAt": "/Date(1600454840387)/",
                                            "LastLoginAt": "/Date(1600458082463)/",
                                            "Birthdate": "/Date(381808800000)/",
                                            "GenderName": "(não informado)",
                                            "IsMailingEnabled": false,
                                            "IsBlacklisted": false,
                                            "Addresses": [
                                                {
                                                    "IdCity": "3550308",
                                                    "IdState": "SP",
                                                    "IdAddressType": 1,
                                                    "DsAddress": "Avenida General Ataliba Leonel",
                                                    "DsNumber": "123",
                                                    "DsDistrict": "Santana",
                                                    "NuZip": "02033000",
                                                    "DsCity": "São Paulo",
                                                    "NuPhoneDDD": "11",
                                                    "NuPhone": "999999999",
                                                    "NuMobilePhoneDDD": "11",
                                                    "NuMobilePhone": "999999999",
                                                    "NuPhone2": "",
                                                    "IdCompany": 0,
                                                    "OrderId": 476,
                                                    "OrderAddressTypeId": 2,
                                                    "OrderAddressTypeName": "Informações de Entrega",
                                                    "CustomerAddressId": 311,
                                                    "CustomerId": 285,
                                                    "CreatedAt": "/Date(1600454840577)/",
                                                    "Destination": "Cobrança",
                                                    "DeliveryTo": "ANDERSON SILVA DE MIRANDA",
                                                    "Address": {
                                                        "StreetTypeId": 1,
                                                        "StreetName": "Avenida General Ataliba Leonel",
                                                        "StreetNumber": "123",
                                                        "Neighborhood": "Santana",
                                                        "ZipCode": "02033000",
                                                        "CityId": "3550308",
                                                        "CityName": "São Paulo",
                                                        "StateId": "SP"
                                                    },
                                                    "PhoneNumbers": [
                                                        {
                                                            "PhoneType": "Home",
                                                            "RegionCode": "11",
                                                            "LocalNumber": "999999999"
                                                        },
                                                        {
                                                            "PhoneType": "Mobile",
                                                            "RegionCode": "11",
                                                            "LocalNumber": "999999999"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "IdCity": "3550308",
                                                    "IdState": "SP",
                                                    "IdAddressType": 1,
                                                    "DsAddress": "Avenida General Ataliba Leonel",
                                                    "DsNumber": "123",
                                                    "DsDistrict": "Santana",
                                                    "NuZip": "02033000",
                                                    "DsCity": "São Paulo",
                                                    "NuPhoneDDD": "11",
                                                    "NuPhone": "999999999",
                                                    "NuMobilePhoneDDD": "11",
                                                    "NuMobilePhone": "999999999",
                                                    "NuPhone2": "",
                                                    "IdCompany": 0,
                                                    "OrderId": 476,
                                                    "OrderAddressTypeId": 3,
                                                    "OrderAddressTypeName": "Informações de Cobrança",
                                                    "CustomerAddressId": 311,
                                                    "CustomerId": 285,
                                                    "CreatedAt": "/Date(1600454840577)/",
                                                    "Destination": "Cobrança",
                                                    "DeliveryTo": "ANDERSON SILVA DE MIRANDA",
                                                    "Address": {
                                                        "StreetTypeId": 1,
                                                        "StreetName": "Avenida General Ataliba Leonel",
                                                        "StreetNumber": "123",
                                                        "Neighborhood": "Santana",
                                                        "ZipCode": "02033000",
                                                        "CityId": "3550308",
                                                        "CityName": "São Paulo",
                                                        "StateId": "SP"
                                                    },
                                                    "PhoneNumbers": [
                                                        {
                                                            "PhoneType": "Home",
                                                            "RegionCode": "11",
                                                            "LocalNumber": "999999999"
                                                        },
                                                        {
                                                            "PhoneType": "Mobile",
                                                            "RegionCode": "11",
                                                            "LocalNumber": "999999999"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        "PaymentData": {
                                            "IdCity": "3550308",
                                            "IdState": "SP",
                                            "IdAddressType": 1,
                                            "DsAddress": "Avenida General Ataliba Leonel",
                                            "DsNumber": "123",
                                            "DsDistrict": "Santana",
                                            "NuZip": "02033000",
                                            "DsCity": "São Paulo",
                                            "NuPhoneDDD": "11",
                                            "NuPhone": "999999999",
                                            "NuMobilePhoneDDD": "11",
                                            "NuMobilePhone": "999999999",
                                            "NuPhone2": "",
                                            "IdCompany": 0,
                                            "OrderId": 476,
                                            "OrderAddressTypeId": 3,
                                            "OrderAddressTypeName": "Informações de Cobrança",
                                            "CustomerAddressId": 311,
                                            "CustomerId": 285,
                                            "CreatedAt": "/Date(1600454840577)/",
                                            "Destination": "Cobrança",
                                            "DeliveryTo": "ANDERSON SILVA DE MIRANDA",
                                            "Address": {
                                                "StreetTypeId": 1,
                                                "StreetName": "Avenida General Ataliba Leonel",
                                                "StreetNumber": "123",
                                                "Neighborhood": "Santana",
                                                "ZipCode": "02033000",
                                                "CityId": "3550308",
                                                "CityName": "São Paulo",
                                                "StateId": "SP"
                                            },
                                            "PhoneNumbers": [
                                                {
                                                    "PhoneType": "Home",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                },
                                                {
                                                    "PhoneType": "Mobile",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                }
                                            ]
                                        },
                                        "BillingData": {
                                            "IdCity": "3550308",
                                            "IdState": "SP",
                                            "IdAddressType": 1,
                                            "DsAddress": "Avenida General Ataliba Leonel",
                                            "DsNumber": "123",
                                            "DsDistrict": "Santana",
                                            "NuZip": "02033000",
                                            "DsCity": "São Paulo",
                                            "NuPhoneDDD": "11",
                                            "NuPhone": "999999999",
                                            "NuMobilePhoneDDD": "11",
                                            "NuMobilePhone": "999999999",
                                            "NuPhone2": "",
                                            "IdCompany": 0,
                                            "OrderId": 476,
                                            "OrderAddressTypeId": 3,
                                            "OrderAddressTypeName": "Informações de Cobrança",
                                            "CustomerAddressId": 311,
                                            "CustomerId": 285,
                                            "CreatedAt": "/Date(1600454840577)/",
                                            "Destination": "Cobrança",
                                            "DeliveryTo": "ANDERSON SILVA DE MIRANDA",
                                            "Address": {
                                                "StreetTypeId": 1,
                                                "StreetName": "Avenida General Ataliba Leonel",
                                                "StreetNumber": "123",
                                                "Neighborhood": "Santana",
                                                "ZipCode": "02033000",
                                                "CityId": "3550308",
                                                "CityName": "São Paulo",
                                                "StateId": "SP"
                                            },
                                            "PhoneNumbers": [
                                                {
                                                    "PhoneType": "Home",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                },
                                                {
                                                    "PhoneType": "Mobile",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                }
                                            ]
                                        },
                                        "ShippingData": {
                                            "IdCity": "3550308",
                                            "IdState": "SP",
                                            "IdAddressType": 1,
                                            "DsAddress": "Avenida General Ataliba Leonel",
                                            "DsNumber": "123",
                                            "DsDistrict": "Santana",
                                            "NuZip": "02033000",
                                            "DsCity": "São Paulo",
                                            "NuPhoneDDD": "11",
                                            "NuPhone": "999999999",
                                            "NuMobilePhoneDDD": "11",
                                            "NuMobilePhone": "999999999",
                                            "NuPhone2": "",
                                            "IdCompany": 0,
                                            "OrderId": 476,
                                            "OrderAddressTypeId": 2,
                                            "OrderAddressTypeName": "Informações de Entrega",
                                            "CustomerAddressId": 311,
                                            "CustomerId": 285,
                                            "CreatedAt": "/Date(1600454840577)/",
                                            "Destination": "Cobrança",
                                            "DeliveryTo": "ANDERSON SILVA DE MIRANDA",
                                            "Address": {
                                                "StreetTypeId": 1,
                                                "StreetName": "Avenida General Ataliba Leonel",
                                                "StreetNumber": "123",
                                                "Neighborhood": "Santana",
                                                "ZipCode": "02033000",
                                                "CityId": "3550308",
                                                "CityName": "São Paulo",
                                                "StateId": "SP"
                                            },
                                            "PhoneNumbers": [
                                                {
                                                    "PhoneType": "Home",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                },
                                                {
                                                    "PhoneType": "Mobile",
                                                    "RegionCode": "11",
                                                    "LocalNumber": "999999999"
                                                }
                                            ]
                                        },
                                        "CurrentPaymentDetails": {
                                            "OrderId": 476,
                                            "OrderPaymentStatusId": 1,
                                            "OrderPaymentStatusText": "Aguardando confirmação de pagamento",
                                            "PaymentMethodId": 6,
                                            "PaymentMethodTypeId": 2,
                                            "PaymentMethodTypeName": "Cartão de Crédito",
                                            "PaymentMethodName": "VISA",
                                            "PaymentMethodImageFilename": "visa-48px.png",
                                            "BillingDays": "",
                                            "PaymentProviderCode": "payment.braspag.rest",
                                            "CreditCardBrand": "Visa",
                                            "CreditCardNumber": "cV0CKWpyCN+vK8yllJbOJ21HzirHlFAb",
                                            "CreditCardComp": "Hs+tunZTOjk=",
                                            "CreditCardMonthExpiration": "4",
                                            "CreditCardYearExpiration": "2024",
                                            "CreditCardOwnerName": "TESTE FAST CHANNEL",
                                            "CreditCardOwnerFederalRegistry": "093.427.717-69",
                                            "Parcels": 6,
                                            "ParcelValue": 2261,
                                            "InterestRate": 299,
                                            "InstallmentCost": 1316,
                                            "TransactionDate": "/Date(1600458226440)/",
                                            "BankValidation": "",
                                            "PaymentExpirationDays": 0,
                                            "RiskAnalysisExecutionType": 0,
                                            "DiscountPolicyId": 0,
                                            "DiscountPolicyName": "",
                                            "DiscountAmountValue": 0,
                                            "DiscountAmountTypeFlag": 0,
                                            "HasPaymentTransactions": false,
                                            "TransactionsHistory": []
                                        },
                                        "OriginChannel": {
                                            "OrderId": 476,
                                            "SaleChannelId": 1,
                                            "CustomerProfileId": 1,
                                            "CatalogId": 1,
                                            "PriceTableId": 1,
                                            "SaleChannelName": "Padrão",
                                            "CustomerProfileName": "Padrão",
                                            "CatalogName": "Padrão",
                                            "PriceTableName": "Padrão",
                                            "CustomerProfileTypeId": 1,
                                            "CurrentSaleTypeId": 3,
                                            "IsBackorderAllowed": false,
                                            "IsTaxationRequired": false
                                        },
                                        "SourceStorage": {
                                            "OrderId": 476,
                                            "StorageId": 1,
                                            "StorageName": "Loja Confecção A",
                                            "IsActive": true,
                                            "IsDefault": true,
                                            "OrderingNumber": 0,
                                            "MinDaysForWithdrawal": 5,
                                            "MaxDaysForWithdrawal": 20,
                                            "MaxItemsPerDelivery": 0,
                                            "SellsVirtualProducts": false,
                                            "CreatedAt": "/Date(1457492400000)/",
                                            "FederalRegistry": "18615342000181",
                                            "StateRegistry": "ISENTO",
                                            "MainAddress": {
                                                "StreetTypeId": 1,
                                                "StreetName": "Rua Júlio Ribeiro",
                                                "StreetNumber": "13",
                                                "Neighborhood": "Brás",
                                                "ZipCode": "03010030",
                                                "CityId": "3550308",
                                                "CityName": "São Paulo",
                                                "StateId": "SP"
                                            }
                                        },
                                        "Items": [
                                            {
                                                "OrderId": 476,
                                                "ProductId": "TESTE-CONFECCAO-A-G",
                                                "ParentId": "",
                                                "ProductName": "Produto de Teste - Confecção A - Grande",
                                                "Quantity": 1,
                                                "ListPrice": 0,
                                                "SalePrice": 10000,
                                                "ShippingCost": 2250,
                                                "AssociationDiscount": 0,
                                                "ManualDiscount": 0,
                                                "CatalogDiscount": 0,
                                                "QuotaDiscount": 0,
                                                "CouponDiscount": 0,
                                                "PaymentDiscount": 0,
                                                "InstallmentCost": 1316,
                                                "IpiPercentage": 0,
                                                "IpiBaseValue": 0,
                                                "IpiCost": 0,
                                                "IcmsPercentage": 0,
                                                "IcmsBaseValue": 0,
                                                "IcmsCost": 0,
                                                "IcmsStPercentage": 0,
                                                "IcmsStBaseValue": 0,
                                                "IcmsStCost": 0,
                                                "SubtotalUnit": 10000,
                                                "SubtotalItem": 10000,
                                                "TotalProductCost": 10000,
                                                "MonogramText": "",
                                                "GiftPackPrice": 0,
                                                "CategoryId": 4155,
                                                "TypeId": 3,
                                                "BrandId": 2,
                                                "LineId": 1,
                                                "DefinitionId": 1,
                                                "CatalogId": 1,
                                                "PriceTableId": 0,
                                                "DeliveryDays": 0,
                                                "DiscountPolicyId": 0,
                                                "DiscountPolicyName": "",
                                                "DiscountAmountValue": 0,
                                                "DiscountAmountTypeFlag": 0,
                                                "IsSynched": false
                                            }
                                        ],
                                        "StatusHistory": [
                                            {
                                                "OrderId": 476,
                                                "OrderStatusId": 100,
                                                "OrderStatusHistoryId": 2518,
                                                "Removed": false,
                                                "CreatedAt": "/Date(1600458226887)/",
                                                "ResponsibleUserId": 1,
                                                "ResponsibleUserName": "Sistema (WebStore)",
                                                "OrderStatusName": "Pendente",
                                                "OrderStatusDescription": "Pedido recebido, em análise",
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousOrderStatusIds": "",
                                                "ManagerStatusTypeId": 1,
                                                "ManagerStatusTypeName": "Pendente",
                                                "ManagerStatusTypePriority": 1,
                                                "CustomerStatusTypeId": 5,
                                                "CustomerStatusTypeName": "Pedido Recebido",
                                                "CustomerStatusTypePriority": 1,
                                                "IsRemovable": false,
                                                "PossibleNextStatuses": [
                                                    {
                                                        "OrderStatusId": 101,
                                                        "OrderStatusName": "Pendente",
                                                        "OrderStatusDescription": "Pedido pendente, aguardando documentos",
                                                        "ManagerStatusTypeId": 1,
                                                        "CustomerStatusTypeId": 5,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100"
                                                    },
                                                    {
                                                        "OrderStatusId": 102,
                                                        "OrderStatusName": "Pendente (aprovado pela análise de risco)",
                                                        "OrderStatusDescription": "Pedido pendente, aguardando confirmação de pagamento",
                                                        "ManagerStatusTypeId": 1,
                                                        "CustomerStatusTypeId": 5,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101"
                                                    },
                                                    {
                                                        "OrderStatusId": 200,
                                                        "OrderStatusName": "Pendente (Aguardando confirmação de pagamento)",
                                                        "OrderStatusDescription": "Pedido aguardando confirmação de pagamento",
                                                        "ManagerStatusTypeId": 1,
                                                        "CustomerStatusTypeId": 5,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101"
                                                    },
                                                    {
                                                        "OrderStatusId": 401,
                                                        "OrderStatusName": "Cancelado",
                                                        "OrderStatusDescription": "Pedido cancelado pela operadora de cartão de crédito",
                                                        "ManagerStatusTypeId": 2,
                                                        "CustomerStatusTypeId": 2,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101,200"
                                                    },
                                                    {
                                                        "OrderStatusId": 402,
                                                        "OrderStatusName": "Cancelado",
                                                        "OrderStatusDescription": "Pedido cancelado por análise",
                                                        "ManagerStatusTypeId": 2,
                                                        "CustomerStatusTypeId": 2,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101,200"
                                                    },
                                                    {
                                                        "OrderStatusId": 403,
                                                        "OrderStatusName": "Cancelado",
                                                        "OrderStatusDescription": "Pedido cancelado pelo cliente",
                                                        "ManagerStatusTypeId": 2,
                                                        "CustomerStatusTypeId": 2,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101,102,200,201,300,303"
                                                    },
                                                    {
                                                        "OrderStatusId": 404,
                                                        "OrderStatusName": "Cancelado",
                                                        "OrderStatusDescription": "Pedido cancelado por motivos diversos",
                                                        "ManagerStatusTypeId": 2,
                                                        "CustomerStatusTypeId": 2,
                                                        "IsActive": true,
                                                        "Priority": 1,
                                                        "PreviousStatusIds": "100,101,102,200,201,300,303"
                                                    }
                                                ]
                                            }
                                        ],
                                        "PaymentDetailsHistory": [
                                            {
                                                "OrderId": 476,
                                                "OrderPaymentStatusId": 1,
                                                "OrderPaymentStatusText": "Aguardando confirmação de pagamento",
                                                "PaymentMethodId": 6,
                                                "PaymentMethodTypeId": 2,
                                                "PaymentMethodTypeName": "Cartão de Crédito",
                                                "PaymentMethodName": "VISA",
                                                "PaymentMethodImageFilename": "visa-48px.png",
                                                "BillingDays": "",
                                                "PaymentProviderCode": "payment.braspag.rest",
                                                "CreditCardBrand": "Visa",
                                                "CreditCardNumber": "cV0CKWpyCN+vK8yllJbOJ21HzirHlFAb",
                                                "CreditCardComp": "Hs+tunZTOjk=",
                                                "CreditCardMonthExpiration": "4",
                                                "CreditCardYearExpiration": "2024",
                                                "CreditCardOwnerName": "TESTE FAST CHANNEL",
                                                "CreditCardOwnerFederalRegistry": "093.427.717-69",
                                                "Parcels": 6,
                                                "ParcelValue": 2261,
                                                "InterestRate": 299,
                                                "InstallmentCost": 1316,
                                                "TransactionDate": "/Date(1600458226440)/",
                                                "BankValidation": "",
                                                "PaymentExpirationDays": 0,
                                                "RiskAnalysisExecutionType": 0,
                                                "DiscountPolicyId": 0,
                                                "DiscountPolicyName": "",
                                                "DiscountAmountValue": 0,
                                                "DiscountAmountTypeFlag": 0,
                                                "HasPaymentTransactions": false,
                                                "TransactionsHistory": []
                                            }
                                        ],
                                        "Documents": []
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{OrderId}/status": {
            "get": {
                "tags": [
                    "Fluxo de Status"
                ],
                "summary": "GetOrderCurrentStatus",
                "description": "Retorna as informações detalhadas do status atual de um determinado pedido.",
                "operationId": "getordercurrentstatus",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "description": "Identificador único do pedido para se obter as informações de status",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderCurrentStatus_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 499
                                    },
                                    "Payload": {
                                        "OrderId": 499,
                                        "OrderStatusId": 200,
                                        "OrderStatusHistoryId": 2561,
                                        "Removed": false,
                                        "CreatedAt": "/Date(1601167436220)/",
                                        "ResponsibleUserId": 0,
                                        "ResponsibleUserName": "Sistema (WebStore)",
                                        "OrderStatusName": "Pendente (Aguardando confirmação de pagamento)",
                                        "OrderStatusDescription": "Pedido aguardando confirmação de pagamento",
                                        "IsActive": true,
                                        "Priority": 1,
                                        "PreviousOrderStatusIds": "100,101",
                                        "ManagerStatusTypeId": 1,
                                        "ManagerStatusTypeName": "Pendente",
                                        "ManagerStatusTypePriority": 1,
                                        "CustomerStatusTypeId": 5,
                                        "CustomerStatusTypeName": "Pedido Recebido",
                                        "CustomerStatusTypePriority": 1,
                                        "IsRemovable": false,
                                        "PossibleNextStatuses": [
                                            {
                                                "OrderStatusId": 201,
                                                "OrderStatusName": "Pago",
                                                "OrderStatusDescription": "Pagamento recebido",
                                                "ManagerStatusTypeId": 3,
                                                "CustomerStatusTypeId": 6,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "200"
                                            },
                                            {
                                                "OrderStatusId": 400,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado por falta de pagamento",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "200"
                                            },
                                            {
                                                "OrderStatusId": 401,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado pela operadora de cartão de crédito",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,200"
                                            },
                                            {
                                                "OrderStatusId": 402,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado por análise",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,200"
                                            },
                                            {
                                                "OrderStatusId": 403,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado pelo cliente",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,102,200,201,300,303"
                                            },
                                            {
                                                "OrderStatusId": 404,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado por motivos diversos",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,102,200,201,300,303"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Fluxo de Status"
                ],
                "summary": "SetOrderCurrentStatus",
                "description": "Atualiza o status atual de um determinado pedido.",
                "operationId": "setordercurrentstatus",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetOrderCurrentStatus_Request"
                            },
                            "example": {
                                "OrderId": 0,
                                "OrderStatusId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetOrderCurrentStatus_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 479
                                    },
                                    "Payload": {
                                        "OrderId": 479,
                                        "OrderStatusId": 100,
                                        "OrderStatusHistoryId": 2521,
                                        "Removed": false,
                                        "CreatedAt": "/Date(1600458516907)/",
                                        "ResponsibleUserId": 1,
                                        "ResponsibleUserName": "Sistema (WebStore)",
                                        "OrderStatusName": "Pendente",
                                        "OrderStatusDescription": "Pedido recebido, em análise",
                                        "IsActive": true,
                                        "Priority": 1,
                                        "PreviousOrderStatusIds": "",
                                        "ManagerStatusTypeId": 1,
                                        "ManagerStatusTypeName": "Pendente",
                                        "ManagerStatusTypePriority": 1,
                                        "CustomerStatusTypeId": 5,
                                        "CustomerStatusTypeName": "Pedido Recebido",
                                        "CustomerStatusTypePriority": 1,
                                        "IsRemovable": false,
                                        "PossibleNextStatuses": [
                                            {
                                                "OrderStatusId": 101,
                                                "OrderStatusName": "Pendente",
                                                "OrderStatusDescription": "Pedido pendente, aguardando documentos",
                                                "ManagerStatusTypeId": 1,
                                                "CustomerStatusTypeId": 5,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100"
                                            },
                                            {
                                                "OrderStatusId": 102,
                                                "OrderStatusName": "Pendente (aprovado pela análise de risco)",
                                                "OrderStatusDescription": "Pedido pendente, aguardando confirmação de pagamento",
                                                "ManagerStatusTypeId": 1,
                                                "CustomerStatusTypeId": 5,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101"
                                            },
                                            {
                                                "OrderStatusId": 200,
                                                "OrderStatusName": "Pendente (Aguardando confirmação de pagamento)",
                                                "OrderStatusDescription": "Pedido aguardando confirmação de pagamento",
                                                "ManagerStatusTypeId": 1,
                                                "CustomerStatusTypeId": 5,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101"
                                            },
                                            {
                                                "OrderStatusId": 401,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado pela operadora de cartão de crédito",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,200"
                                            },
                                            {
                                                "OrderStatusId": 402,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado por análise",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,200"
                                            },
                                            {
                                                "OrderStatusId": 403,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado pelo cliente",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,102,200,201,300,303"
                                            },
                                            {
                                                "OrderStatusId": 404,
                                                "OrderStatusName": "Cancelado",
                                                "OrderStatusDescription": "Pedido cancelado por motivos diversos",
                                                "ManagerStatusTypeId": 2,
                                                "CustomerStatusTypeId": 2,
                                                "IsActive": true,
                                                "Priority": 1,
                                                "PreviousStatusIds": "100,101,102,200,201,300,303"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Fluxo de Status"
                ],
                "summary": "DeleteOrderCurrentStatus ",
                "description": "Remove o status atual de um determinado pedido, retornando tal pedido para o status anterior ao status em que o mesmo se encontra.",
                "operationId": "deleteordercurrentstatus",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteOrderCurrentStatus_Request"
                            },
                            "example": {
                                "OrderId": 0
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": ""
                    }
                }
            }
        },
        "/orders/{OrderId}/sync": {
            "get": {
                "tags": [
                    "Sincronização de Pedidos"
                ],
                "summary": "GetOrderSyncStatus",
                "description": " Retorna a situação de sincronização de um determinado pedido.",
                "operationId": "getordersyncstatus",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "description": "Identificador único do pedido para consulta da situação de sincronização",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderSyncStatus_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 499
                                    },
                                    "Payload": {
                                        "OrderId": 499,
                                        "IsSynched": false,
                                        "LastSynchedAt": "/Date(1609177587717)/"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Sincronização de Pedidos"
                ],
                "summary": "SetOrderSyncStatus ",
                "description": "Atualiza a situação de sincronização de um determinado pedido.",
                "operationId": "setordersyncstatus",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": ""
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetOrderSyncStatus_Request"
                            },
                            "example": {
                                "IsSynched": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SetOrderSyncStatus_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 999
                                    },
                                    "Payload": {
                                        "OrderId": 999,
                                        "IsSynched": true,
                                        "LastSynchedAt": "/Date(1609177587717)/"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{OrderId}/tracking/{TrackingCode}": {
            "get": {
                "tags": [
                    "Tracking/Rastreamento"
                ],
                "summary": "GetOrderTracking",
                "description": "Retorna os dados de um código de rastreio específico.",
                "operationId": "getordertracking",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "description": "Id do pedido a ser filtrado.",
                        "required": true,
                        "schema": {
                            "type": "Integer"
                        }
                    },
                    {
                        "name": "TrackingCode",
                        "in": "path",
                        "description": "Código de rastreamento a ser filtrado.",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados de rastreio do código informado.\n\n_Esta operação requer tanto o Identificador Único do pedido quanto o respectivo código de rastreio desejado._",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetOrderTracking_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 2,
                                        "TrackingCode": "AA123456789BR"
                                    },
                                    "Payload": {
                                        "OrderId": 2,
                                        "TrackingCode": "AA123456789BR",
                                        "TrackingUrl": "https://www2.correios.com.br/sistemas/rastreamento/default.cfm",
                                        "CreatedAt": "2022-01-26T20:14:49.9870000+00:00",
                                        "ResponsibleId": 0,
                                        "ResponsibleName": "Integration",
                                        "IsValid": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tracking/Rastreamento"
                ],
                "summary": "DeleteOrderTracking",
                "description": "Remove os Dados de Rastreio de código **`TrackingCode`** para o pedido especificado por **`OrderId`**",
                "operationId": "deleteordertracking",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "description": "Id do pedido a ter as informações de rastreio removidas.",
                        "required": true,
                        "schema": {
                            "type": "Integer"
                        }
                    },
                    {
                        "name": "TrackingCode",
                        "in": "path",
                        "description": "Código de rastreio a ser removido do pedido.",
                        "required": true,
                        "schema": {
                            "type": "String"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Para fins de validação, os dados de rastreio relativos ao código de rastreio removido serão retornados como resposta da operação.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteOrderTracking_Success"
                                },
                                "example": {
                                    "Success": true,
                                    "HttpStatusCode": 200,
                                    "RequestParams": {
                                        "OrderId": 2,
                                        "TrackingCode": "AA123456789BR"
                                    },
                                    "Payload": {
                                        "OrderId": 2,
                                        "TrackingCode": "AA123456789BR",
                                        "TrackingUrl": "https://www2.correios.com.br/sistemas/rastreamento/default.cfm",
                                        "CreatedAt": "2022-01-26T13:55:41.2230000+00:00",
                                        "LastUpdateAt": "2022-01-26T13:56:18.1330000+00:00",
                                        "ResponsibleId": 0,
                                        "ResponsibleName": "Integration",
                                        "IsValid": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/orders/{OrderId}/invoices": {
            "get": {
                "tags": [
                    "Notas Fiscais"
                ],
                "summary": "ListOrderInvoices",
                "description": "Retorna as informações detalhadas de todas as Notas Fiscais relacionadas a um pedido qualquer.",
                "operationId": "listorderinvoices",
                "parameters": [
                    {
                        "name": "OrderId",
                        "in": "path",
                        "description": "Id do pedido a ser filtrado.",
                        "required": true,
                        "schema": {
                            "type": "Integer"
                        }
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "description": "Tipo de conteúdo aceito como resposta",
                        "required": true,
                        "schema": {
                            "enum": [
                                "application/json",
                                "text/xml"
                            ],
                            "type": "String",
                            "default": "application/json"
                        }
[...]
